form {
    text-align: center;
    margin-top: 300px;
}

#srch_bar {
    height: 36px;
    width: 350px;
    border-color:darkgray;
    border-style:ridge;
    font-size: medium;
    font-style: normal;
}
#srch_bttn {
    height: 36px;
    width: 125px;
    border-color:darkgray;
    border-style: ridge;
    font-size: medium;
    font-style: normal;
}

a[href="index.html"] {
    margin-left: 1200px;
    font-size: 20px;
}