form {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 40px;
    color: blue;
}
#srch_bar {
    padding-left: 20px;
    height: 36px;
    width: 350px;
    background-color:white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: medium;
    font-style: normal;
}
#srch_bttn {
    height: 36px;
    width: 125px;
    background-color:blue;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: medium;
    font-style: normal;
}

a[href="index.html"] {
    margin-left: 1150px;
    font-size: 21px;
}